<!DOCTYPE html>
<html>
<head>
    <title>{{ category.name }}</title>
</head>
<body>
    {% if category %}
        <h1>{{ category.name }}</h1>

        {% if pages %}
            <ul>
            {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a> ({{ page.views }} views)</li>
            {% endfor %}
            </ul>
        {% else %}
            <strong>No pages currently in category.</strong>
        {% endif %}
        
        <a href="{% url 'rango:add_page' category.slug %}">Add a Page</a>

        {% else %}
        <strong>The specified category does not exist.</strong>
    {% endif %}
</body>
</html>
